<div class="container">
    <h1>Show All EMPLOYEES</h1>
<br/>
<br/>
<br/>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><h5>Employee ID</h5></th>
      <th scope="col"><h5>Employee Name</h5></th>
      <th scope="col"><h5>Employee Email</h5></th>
      <th scope="col"><h5>Employee City</h5></th>
      <th scope="col"><h5>Employee Phone</h5></th>
      <th scope="col"><h5>Delete</h5></th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
<tr class="table-active">
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.city}}</td>
      <td>{{this.phone}}</td>
      <td><a href="/deleteuser/{{this.id}}" class="btn btn-danger btn-block">Delete</a></td>
    </tr>



    {{/each}}
  </tbody>
</table>


</div>